@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Pastikan container memenuhi tinggi layar */
}
p{
    font-family: "Montserrat";
    font-weight: 450;
    font-size: 30px;
}
body {
    background-color: #DCD7C9;
}
.top h1 {
    padding-left: 10px;
    font-family: "Oswald" ;
    color: rgb(54, 54, 54);
}
h1 {
    font-family: "Oswald" ;
    color: rgb(54, 54, 54);
}

span {
    font-family: "Oswald" ;
}
li {
    font-family: "Montserrat";
    list-style-type: none;
}

.a-nav{
    text-decoration: none;
    color: rgb(54, 54, 54);
    font-family: "Poppins";
}

.nav-ul{
    display: flex;
}
.navbar{
    padding-top: 9px;
}
.nav-li{
    padding-inline: 20px;
}

.top {
    background-color:#DCD7C9 ;
    padding-top: 10px ;
    padding-bottom: 10px ;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.055);
}
.img-profile{
    border-radius: 50%;
    width: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile-page{
    gap: 10px;
    padding: 40px;
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    align-items: center;
    justify-content: center;
}
.text-profile {
    display: flex;
    flex-direction: column;
}

.a-profile {
    margin: 20px;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgba(228, 228, 228, 0.753);
    background-color: #A27B5C;
    padding: 2px 5px;
    border-radius: 20px;
    line-height: 1;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.a-profile span{
    padding: 5px;
    display: inline-block;
    transform: scale(0.75); 
    transform-origin: center;
}

.profile-about{
    margin-top: 300px;
    padding-left: 100px;
    padding-right: 100px;
}
.profile-about-main{
    margin-top: 50px;
    padding: 25px 25px 25px 36px;
}
.profile-about-main h1{
    color: rgba(32, 32, 32, 0.822);
}

.profile-skills {
    margin-top: 200px;
    padding: 40px;
    padding-left: 140px;
    background-color: #867465 ;
}

.profile-skills-main h2{
    padding-bottom: 25px;
    font-family: "Poppins";
    color: #ffffffb4;
}
.profile-skills-detail{
    display: flex;
    justify-content: center;
    gap: 40px 240px;
    row-gap: 25px;
}

.profile-skills-detail1 li{
    margin-bottom: 15px ;
    color: #ffffffb4;
}
.profile-skills-detail2 li{
    margin-bottom: 15px ;
    color: #ffffffb4;
}